<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control">
      </div>
      <p class="inline-block-right">
        <button class="btn btn-primary width-150 btn-shape-s1">Sign Up</button>
      </p>
      <p class="inline-block-right">
        <button class="btn btn-primary width-150 btn-shape-s1">Switch to Login</button>
      </p>
    </form>
  </div>
</div>
